.social{
    margin-right: 15px;
    margin-left: 75px;
    padding: 15px;
    
  }
  .social-menu ul{
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    margin-left: 110px;
  }
  .social-menu ul li{
    list-style: none;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 20px;
  }
  .social-menu ul .fa{
  padding-top: 25%;
  padding-left: 10px;
   font-size: 25px;
   line-height: 20px;
   transition: .6s;
   color: #fff;
  }
  .social-menu ul .fa:hover{
    color: #fff;
  }
  .social-menu ul li a{
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white ;
    /* background-color: #fff; */
    /* text-align: center; */
    transition: .6s;
 
  }
  /* .social-menu ul li a:hover{
    transform: translate(0, -10px);
  } */
  .social-menu ul li:nth-child(1) a{
    background-color: #212529;
  }
  .social-menu ul li:nth-child(2) a{
    background-color: #0077B5;
  }
  .social-menu ul li:nth-child(3) a{
    background-color: #3b5999;
    padding-left: 3px;
    padding-top: 2px;
  }
  .social-menu ul li:nth-child(4) a{
    background-color: #55acee;
  }
  
.profilePic{
  width: 400px;
  height: auto;
  
}