.card{
    height: 100%;
}
.technology{
    display: flex;
    flex-wrap: wrap;
}
 .technology span{
    background:#e71809;
    color:white!important;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 15px;
    
} 
strong{
    color: #e71809;
}
.card img{
    height: 200px;
}