.contact-form{
    width:400px;
    border:1px solid black;
    /* padding:100px 70px; */
    border-radius:4px;   
}

.socialResize{
    padding-left: 50px;
    padding-top:150px;

}
.phone{
    padding-top: 70px;
    padding-left: 105px;
}