
.card{
    height: 100%;
}

.bg1{
    background-image: url(../../images//projects/travelGuru.png);
    height: 200px;
}

.bg2{
    background-image: url(../../images//projects/creativeAgency.png);
    height: 200px;
}

.bg3{
    background-image: url(../../images//projects/VolunteerNetwork.png);
    height: 200px;
}


.text{
    color:black
}

.carouselPadding{
    padding-top:75px
}

.mySkills{
    display: flex;
    flex-wrap: wrap;
}
 .mySkills span{
    background: lightseagreen;
    color: white!important;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 15px;
    
} 

.mySkills span:hover{
    color: black!important;
    background-color:goldenrod;
}

.objective{
    padding-top: 30%;
}

.clientHeader{
    margin-top: 75px;
    padding-top: 20px;
}

.clientsComment p{
    text-align: justify;
}

.clientsComment h6{
    color:rgb(216, 201, 201);
    text-align: right;
}

.clientsComment p{
    color: black;
}

.submitButton{
    margin-right: 90%;
}


  .border-gradient-purple {
    border-image-source: linear-gradient(to left,#d53a9d ,#743ad5);
  }

  .contactCard{
    width:200px ;
  }